*{
	margin: 0;
	padding: 0;
}

body{
	background:#dedede;
}

.public-header{
	height: 60px;
	background: #333;
}

.public-header .header-logo{
	float: left;
	margin-top: 10px;
	margin-left: 40px;
	width: 117px;
	height: 37px;
	background: url("../images/baidu.png");

}

.public-header .header-nav{
	float: right;
	font-size: 11px;
}

.public-header .header-nav .item{
	padding: 0px 8px 0px;
	margin-top: 22px;
	float: left;
	background:url("../images/header_nav_bg.png") no-repeat left;
}

.public-header .header-nav .item a{
	color: #eff2f7;
}

.public-header .header-nav a:link{
	text-decoration: none;
}

.public-header .header-nav a:hover{
	text-decoration: underline;
}

.article-one{

    width: 1238px;
    padding: 27px 27px 36px 19px;
    margin: 0 auto;
    margin-top: 20px;
    background: #ffffff;
    border: 1px solid #CECECE;
    box-shadow: 2px 2px 0 #CECECE;

}

.article-one h2{
	font-size: 22px;
	color:#080808;
	height: 45px;
	line-height: 45px;
}

.article-one  h3{
	font-size: 16px;
	color:#696969;
	height: 36px;
}

.article-one h4{
	font-size: 12px;
	color:#a0aeb9;
	height:27px;
	line-height:27px;
}

.article-one p{
	font-size: 14px;
	color:#080808;
	text-indent:2em;
	line-height: 26px;
	margin-top: 8px;
}

.article-one .pic{
	margin-top: 17px;	
}

.article-two{
    width: 1238px;
    padding: 27px 27px 36px 19px;
    margin: 0 auto;
    margin-top: 20px;
    background: #ffffff;
    border: 1px solid #CECECE;
    box-shadow: 2px 2px 0 #CECECE;
}

.article-two h2{
	font-size: 22px;
	color:#080808;
	height: 45px;
	line-height: 45px;
}

.article-two h3{
	font-size: 16px;
	color:#696969;
	height: 36px;
}

.article-two h4{
	font-size: 12px;
	color:#a0aeb9;
	height:27px;
	line-height:27px;
}

.article-two p{
	font-size: 14px;
	color:#080808;
	text-indent:2em;
	line-height: 26px;
	margin-top: 7px;
}

.article-two  .pic{
	margin-top: 17px;
}

.article-two  .project{
	width: 117px;
	height: 76px;
	margin-top: 14px;
	margin-left: 20px;
	line-height: 24px;
}

.picture{
	width: 1238px;
    padding: 27px 27px 36px 19px;
    margin: 0 auto;
    margin-top: 20px;
    background: #ffffff;
    border: 1px solid #CECECE;
    box-shadow: 2px 2px 0 #CECECE;
}

.picture h2{
	font-size: 22px;
	color:#080808;
	height: 45px;
	line-height: 45px;
}

.picture .pic{
	width: 120px;
    height: 124px;
    border: 1px solid #CaCaCa;
    margin-top: 12px;
    margin-left:41px;
}   

.picture .pic p{
	color: #09000a;
	text-align: center;
    line-height: 32px;
 }

.picture .pic img{
	width: 100px;
    height: 81px;
    margin-left: 10px;
}

.article-three{
	width: 1238px;
    padding: 27px 20px 20px 19px;
    margin: 0 auto;
    margin-top: 20px;
    background: #ffffff;
    border: 1px solid #CECECE;
    box-shadow: 2px 2px 0 #CECECE;
}

.article-three h2{
	font-size: 22px;
	color:#080808;
	height: 45px;
	line-height: 45px;
}

.article-three h3{
	font-size: 16px;
	color:#696969;
	height: 36px;
}

.article-three h4{
	font-size: 12px;
	color:#a0aeb9;
	height:27px;
	line-height:27px;
}

.article-three  .ranking{
	font-size: 14px;
	line-height: 26px;
	margin-top: 7px;
	margin-left: 44px;
}

.article-three  .tab{
	margin-top: 14px;
}

.article-three  .tab  p{
	color: #00101a;
	line-height: 20px;
	font-weight: bold;
}

.article-three .tab table{	
	border-collapse: collapse;
	width: 100%;
}

.article-three .tab table,th,td{
	border:1px solid #e3e3e3;
}

.article-three  .tab table thead{
	background-color: #333333;
	color: #fff;
	text-align: left;
}

.article-three  .tab table tfoot{
	background-color: #cccccc;
	text-align: left;
}

aside{
	width: 1217px;
    padding:20px 19px 22px 19px;
    margin: 0 auto;
    margin-top: 20px;
    background: #ffffff;
    border: 1px solid #CECECE;
    box-shadow: 2px 2px 0 #CECECE;
}

aside h2{
	font-size: 22px;
	color:#080808;
	height: 45px;
	line-height: 45px;
}

aside.information .email{
	font-size: 12px;
	color:#080808;
	margin-top: 10px;
	height: 22px;	
}

aside .information .email .div1{
	height: 22px;
	width: 359px;
	text-align:right;
	float:left;
}

aside .information .email .div2{
	height: 22px;
	width: 832px;
	text-align:left;
	float:right;
}

aside .information .requirement{
	font-size: 12px;
	color:#b7bfc2;
	margin-top: 10px;
	height: 22px;		
}

aside .information .requirement .div1{
	height: 22px;
	width: 359px;
	text-align:right;
	float:left;
}

aside .information .requirement .div2{
	height: 22px;
	width: 832px;
	text-align:left;
	float:right;
}

aside .information .password-one{
	font-size: 12px;
	color:#080808;
	margin-top: 10px;
	height: 22px;		
}

aside .information .password-one .div1{
	height: 22px;
	width: 359px;
	text-align:right;
	float:left;
}

aside .information .password-one .div2{
	height: 22px;
	width: 832px;
	text-align:left;
	float:right;
}

aside .information .password-two{
	font-size: 12px;
	color:#080808;
	height: 22px;	
}

aside .information .password-two .div1{
	height: 22px;
	width: 359px;
	text-align:right;
	float:left;	
}

aside .information .password-two .div2{
	height: 22px;
	width: 832px;
	text-align:left;
	float:right;
}

aside .information .sex{
	font-size: 12px;
	color:#080808;
	margin-top: 10px;
	height: 22px;		
}

aside .information .sex .div1{
	height: 22px;
	width: 359px;
	text-align:right;
	float:left;
}

aside .information .sex .div2{
	height: 22px;
	width: 832px;
	text-align:left;
	float:right;
}

aside .information .city{
	font-size: 12px;
	color:#080808;
	margin-top: 10px;
	height: 22px;		
}

aside .information .city .div1{
	height: 22px;
	width: 359px;
	text-align:right;
	float:left;
}

aside .information .city .div2{
	height: 22px;
	width: 832px;
	text-align:left;
	float:right;
}

aside .information .hobby{
	font-size: 12px;
	color:#080808;
	margin-top: 10px;	
	height: 22px;	
}

aside .information .hobby .div1{
	height: 22px;
	width: 359px;
	text-align:right;
	float:left;
}

aside .information .hobby .div2{
	height: 22px;
	width: 832px;
	text-align:left;
	float:right;
}

aside .information .discribe{
	font-size: 12px;
	color:#080808;
	margin-top: 10px;	
	height: 100px;	
}

aside .information .discribe .div1{
	height: 22px;
	width: 359px;
	text-align:right;
	float:left;
}

aside .information .discribe .div2{
	height: 100px;
	width: 832px;
	text-align:left;
	float:right;
}

aside .information .submit{
	height: 38px;
	width: 100%;
	background:#3355d0;
	margin-top: 30px;
	text-align:center;
	border-radius: 4px;
}

aside .information .submit input{
	border:none;
	height: 38px;
	color: #fff;
	font-weight: bold;
	background:#3355d0;
}

footer{
	height: 70px;
	background: #000;
	margin-top: 20px;
}

footer p{
	color: #fff;
	font-family: Arial;
	font-size: 12px;
	text-align: center;
	line-height: 70px;
}

.public-container{
	position: relative;
	margin: 0 auto;
	width: 1238px;
}


        