
body{
	margin: 0;
	padding: 0;
	background:#dedede;
}

.public-header{
	height: 60px;
	background: #333;
}

.header-logo{
	float: left;
	margin-top: 10px;
	margin-left: 40px;
	width: 117px;
	height: 37px;
	background: url("../images/baidu.png");

}

.header-nav{
	float: right;
	font-size: 11px;
}

.header-nav .item{
	padding: 0px 8px 0px;
	margin-top: 22px;
	float: left;
	background:url("../images/header_nav_bg.png") no-repeat left;
}

 .header-nav .item a{
	color: #eff2f7;
}

.header-nav a:link{
	text-decoration: none;
}

.header-nav a:hover{
	text-decoration: underline;
}

.article-one,.article-two,.picture,.article-three{
    padding: 27px 27px 36px 19px;
    margin: 20px 404px 20px 20px;
    background: #ffffff;
    border: 1px solid #CECECE;
    box-shadow: 2px 2px 0 #CECECE;
}

h2{
	font-size: 22px;
	color:#080808;
	height: 45px;
	line-height: 45px;
}

h3{
	font-size: 16px;
	color:#696969;
	height: 36px;
}

h4{
	font-size: 12px;
	color:#a0aeb9;
	height:27px;
	line-height:27px;
}

.article-one p,.article-two p{
	font-size: 14px;
	color:#080808;
	text-indent:2em;
	line-height: 26px;
	margin-top: 8px;
}

.article-one .pic,.article-two  .pic{
	margin-top: 17px;	
}

.project{
	width: 117px;
	height: 76px;
	margin-top: 14px;
	margin-left: 20px;
	line-height: 24px;
}

.pict{
	width: 124px;
	height: 124px;
	border:1px solid #CECECE;
	margin: 10px;
	display: inline-block;
}

.pict p{
	color: #09000a;
	text-align: center;
    line-height: 32px;
 }

.pict img{
	width: 100px;
    height: 81px;
    margin-left:10px;
}

.ranking{
	font-size: 14px;
	line-height: 26px;
	margin-top: 7px;
	margin-left: 44px;
}

.tab{
	margin-top: 14px;
}

.tab  p{
	color: #00101a;
	line-height: 20px;
	font-weight: bold;
}

.tab table{	
	border-collapse: collapse;
	width: 100%;
}

.tab table,th,td{
	border:1px solid #e3e3e3;
}

.tab table thead{
	background-color: #333333;
	color: #fff;
	text-align: left;
}

.tab table tfoot{
	background-color: #cccccc;
	text-align: left;
}

aside{
	position: absolute;
	top: 60px;right: 0;
	width: 322px;
    padding:20px;   
    margin: 20px;
    background: #ffffff;
    border: 1px solid #CECECE;
    box-shadow: 2px 2px 0 #CECECE;
}

.title h2{
	font-size: 18px;
	color:#080808;
	height: 40px;
}

.email,.password-one,.password-two,.sex,.city,.hobby,.discribe{
	font-size: 12px;
	color:#080808;
	margin-top: 10px;
	height: 22px;	
}

.requirement{
	font-size: 12px;
	color:#a0aeb9;
	margin-top: 10px;
	height: 22px;
}

.div1{
	height: 20px;
	width: 85px;
	text-align:right;
	float:left;
}

.div2{
	height: 20px;
	width: 228px;
	text-align:left;
	float:right;
}

.discribe{
	font-size: 12px;
	color:#080808;
	margin-top: 10px;	
	height: 100px;	
}

.submit{
	height: 38px;
	width: 100%;
	background:#3355d0;
	margin-top: 30px;
	text-align:center;
	border-radius: 4px;
}

.submit input{
	border:none;
	height: 38px;
	color: #fff;
	font-weight: bold;
	background:#3355d0;
}

footer{
	height: 70px;
	background: #000;
	margin-top: 20px;
}

footer p{
	color: #fff;
	font-family: Arial;
	font-size: 12px;
	text-align: center;
	line-height: 70px;
}

.public-container{
	position: relative;
	margin: 0 auto;
	width: 1238px;
}


        