ul,li,p,body,a,h2,h3,h4{
	padding: 0;
	margin:0;
}

a{
	text-decoration: none;
}
body{
	background-color: #dedede;
}
.top{
	height: 60px;
	width: 1366px;
	background-color: #333333;
}
.top .top-menu{
	width: 1238px;
	height: 60px;
	margin: 0 auto;
}
.top-menu img{
	float: left;
	margin-left: 40px;
	margin-top: 10px;
}

.top-menu .nav ul li{
	list-style: none;
	background:url(header_nav_bg.png) no-repeat left;
	float: right;
	width: 80px;
}
.top-menu .nav ul li a{
	font-family: Arial;
	font-size: 10px;
	line-height: 60px;
	width: 80px;
	padding-left: 12px;
	color: #eaffff;
}
.top-menu .nav ul li a:hover ,#four a{
	color:#929395;
}

.article1{
	width: 1238px;
	height: 706px;
	margin: 0 auto;
	background-color: #ffffff;
	border:solid 2px #cacaca;
	margin-top: 20px;
	padding-left: 20px;
}
.article1 h2{
	color: #01010d;
	line-height: 44px;
	margin-top: 26px;
}
.article1 h3{
	color: #656565;
	line-height: 36px;
}
.article1 h4{
	color: #dedede;
	font-size: 0.8em;
	line-height: 26px;
}
.article1 img{
	margin-top: 16px;
	margin-bottom: 12px;

}
.article1 p{
	margin-top: 6px;
	color:#210055;
	line-height: 26px;
}

.article2{
	width: 1238px;
	height: 706px;
	margin: 0 auto;
	background-color: #ffffff;
	border:solid 2px #cacaca;
	margin-top: 20px;
	padding-left: 20px;
}
.article2 h2{
	color: #01010d;
	line-height: 44px;
	margin-top: 26px;
}
.article2 h3{
	color: #656565;
	line-height: 36px;
}
.article2 h4{
	color: #dedede;
	font-size: 0.8em;
	line-height: 26px;
}
.article2 img{
	margin-top: 16px;
	margin-bottom: 14px;

}
.article2 p{
	margin-top: 6px;
	color:#210055;
	line-height: 26px;
}
.article2 ul{
	height: 76px;
	margin-left: 20px;
}
figure{
	height: 1510px;
	width: 1238px;
	padding-left: 20px;
	margin:0 auto;
	margin-top: 20px;
	background-color: #ffffff;
	border:solid 2px #cacaca;
}
figure h2{
	margin-top: 28px;
	line-height: 44px;
	margin-bottom: 12px;
}
figure .picture{
	margin-left: 42px;
	width: 120px;
	height: 124px;
	margin-bottom: 16px;
	border:1px solid #cdcdcd;
}
figure .picture p{
	line-height: 32px;
	text-align: center;
	color:#191b00;
}
figure .picture img{
	width: 100px;
	height: 80px;
	margin-left: 10px;
}
.article3{
	height: 422px;
	width: 1238px;
	padding-left: 20px;
	margin:0 auto;
	margin-top: 20px;
	background-color: #ffffff;
	border:solid 2px #cacaca;
}
.article3 h2{
	line-height: 44px;
	color: #000100;
}
.article3 h3{
	line-height: 36px;
	color:#6f7279;
}
.article3 h4{
	line-height: 26px;
	color: #7685a4;
}
.article3 ol{
	margin-left: 26px;
	height: 78px;
	color: #0b0507;
	font-weight: bold;
}
.article3 p{
	margin-top: 14px;
	color: #00101a;
	line-height: 20px;
	font-weight: bold;
}
.article3 table{
	border:1px solid #e3e3e3;
	border-collapse: collapse;
}
.article3 table thead{
	background-color: #333333;
	color: #fff;
	text-align: left;
	font-weight: bold;
}
.article3 table thead tr .td1{
	height: 26px;
	width: 496px;
}
.article3 table thead tr .td2{
	height: 26px;
	width: 496px;
}
.article3 table thead tr .td3{
	height: 26px;
	width: 206px;
}
.article3 table tbody{
	text-align: left;
}
.article3 table tfoot{
	background-color: #cccccc;
}
.article3 table tfoot tr th{
	border:none;
}
aside{
	height: 528px;
	width: 1238px;
	padding-left: 20px;
	margin:0 auto;
	margin-top: 20px;
	background-color: #ffffff;
	border:solid 2px #cacaca;
}
aside h2{
	border-left-color: #cbcbcb;
	border-left: 4px;
	border-left-style: solid;
	margin-top: 20px;
	line-height: 38px;
	font-weight: bold;
	padding-left: 12px;
}
aside form .label-1,aside form .label-3{
	width: 300px;
	height: 22px;
	margin-left: 270px;
	margin-top: 10px;
}
aside form .label-1 label,aside form .label-3 label{
	color: #0a0023;
}
aside form .label-1 input,{
	width: 128px;
	height: 20px;
	border:1px solid #c4c3c8;
	margin-left: 10px;
}
aside form .label-3 input{
	width: 128px;
	height: 20px;
	border:1px solid #c4c3c8;
	margin-left: 12px;
}
aside form .label-1 label{
	color: #0a0023;
}
aside form .label-1 input{
	width: 128px;
	height: 20px;
	border:1px solid #c4c3c8;
	margin-left: 10px;
}
aside form p{
	margin-left: 406px;
	color: #cdcdcd;
	margin-top: 10px;
}
aside form .label-2{
	width: 300px;
	height: 22px;
	margin-left: 304px;
	margin-top: 20px;
}
aside form .label-2 label{
	color: #0a0023;
}
aside form .label-2 input{
	width: 128px;
	height: 20px;
	border:1px solid #c4c3c8;
	margin-left: 10px;
}
.label-4{
	height: 28px;
	margin-left: 356px;
	margin-top: 20px;
}

.label-5{
	height: 28px;
	margin-left: 356px;
	margin-top: 20px;
}
.label-5 select ,.label-4 input{
	margin-left: 10px;
}
.label-6{
	height: 28px;
	margin-left: 356px;
	margin-top: 20px;
}

.label-6 input{
	margin-left: 10px;
}
.label-7{
	height: 28px;
	margin-left: 326px;
	position: relative;
}
.label-7 label{
	position: absolute;
	top: 0px;
	left: 0px;
}
.label-7 textarea{
	position: absolute;
	top: 0px;
	left: 80px;
	width: 764px;
	height: 100px;
}
.submit{
	height: 40px;
	width: 1178px;
	margin:0 auto;
	margin-top: 84px;
	color: #fff;
	background-color: #3355d0;
	border:none;
	font-weight: bold;
	border-radius: 4px;
}
footer{
	width:1348px;
	height: 70px;
	background-color: #000000;
	text-align: center;
	margin-top: 20px;
}
footer p{
	color: #fff;
	font-family: Arial;
	font-size: 0.8em;
	line-height: 70px;
	text-align: center;
}