body,img,span,div,a{
	padding: 0px;
	margin: 0px;
}
#content{
	position:relative;
	width: 400px;
	height: 400px;
	margin: 0 auto;
	top: 82px;
}
#picture{
	width: 400px;
	height: 400px;
	border: 10px solid #c6c6c6;
}
#content a:hover{
	filter: alpha(opacity:50);
	opacity: 0.5;
}
#SwitchhhingMode{
	font-size: 15px;
	position: absolute;
	top: -27px;
	left: 58px;
	text-align: center;
}
#previous,#next{
	text-decoration: none;
	color: #313939;
	width: 40px;
	height: 40px;
	background: #decec6;
	position: absolute;
	text-align: center;
	line-height: 40px;
	font-size: 30px;
	font-weight: bold;
	top: 190px;
	filter: alpha(opacity:70);
	opacity: 0.7;

}
#previous{
	left: 20px;
}
#next{
	right: 0px;
}
#sort,#describe{
	filter: alpha(opacity:80);
	opacity: 0.8;
	position: absolute;
	width: 400px;
	height: 25px;
	background: #000;
	color: #d6cee7;
	text-align: center;
	left: 10px;
}
#sort{
	top: 10px;
}
#describe{
	bottom: -10px;
}
#SwitchButton{
	position: absolute;
	top: -60px;
	left: 50%;
	margin-left:-70px;
}